body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131220;
  color: #f0f0f0;
}

.messages {
  padding: 1rem;
  font-size: large;
  background-color: #20192e;
}

.sent,
.received {
  width: fit-content;
  max-width: 45%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  position: relative;
  animation: fadeIn 0.3s ease-out;
  word-wrap: break-word;
}

.sent {
  margin-left: auto;
  background-color: #4E38A1;
  color: #F0F0F0;
}

.received {
  background-color: #131220;
  color: #9996aa;
}

.avatar {
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
  width: 32px;
}

.timestamp {
  color: #b1b1b1;
  font-size: 0.8rem;
  margin-left: 5px;
}

.form-control:focus {
  border-color: #4E38A1;
}

.bottom-border {
  border-bottom:1px solid rgb(44, 44, 61)
}

.right-border {
  border-right:1px solid rgb(44, 44, 61)
}

.all-borders {
  border:1px solid rgb(44, 44, 61)
}

.writing-indicator {
  animation: blink 1s infinite;
}

.date-element {
  text-align: center;
  font-weight: bold;
  color: #b1b1b1;
  margin: 1rem 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4E38A1;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  border-radius: 4px;
}